In [1]:
!pip install wbgapi

Requirement already satisfied: wbgapi in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (1.0.12)
Requirement already satisfied: PyYAML in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (6.0)
Requirement already satisfied: requests in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (2.27.1)
Requirement already satisfied: tabulate in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (0.8.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (3.3)

In [2]:
import wbgapi as wb

In [24]:
temp = wb.series.info(q='Population, total')

In [25]:
temp

id           value
-----------  -----------------
SP.POP.TOTL  Population, total
             1 elements

In [5]:
indexes = ['EN.ATM.CO2E.KT', 'NY.GDP.MKTP.PP.KD', 'SP.POP.TOTL', 'EG.FEC.RNEW.ZS', 'NV.IND.TOTL.ZS', 'SP.URB.TOTL.IN.ZS', 'GC.NFN.TOTL.GD.ZS',
          'NE.EXP.GNFS.ZS', 'GB.XPD.RSDV.GD.ZS', 'TX.MNF.TECH.ZS.UN', 'TX.VAL.TECH.MF.ZS', 'NV.MNF.TECH.ZS.UN', 'NE.TRD.GNFS.ZS']

In [6]:
with open('countries.txt', 'r') as f:
    t = f.read()

countries = []
for i in t.split("  "):
    # if len(i) > 5:
    x = i.replace("\n", "").replace('"','')
    if len(x) > 2:
        countries.append(x)

# print(countries)

In [7]:
# iso = wb.economy.coder('Albania') #(['Albania', 'Argentina'])

iso_code = []
for i in countries:
    iso_code.append(wb.economy.coder(i))
    
print(iso_code)

['ALB', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BLR', 'BEL', 'BIH', 'BGR', 'CAN', 'CHL', 'CHN', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'GEO', 'DEU', 'GRC', 'HUN', 'ISL', 'IND', 'IRL', 'ISR', 'ITA', 'JPN', 'KAZ', 'KOR', 'LVA', 'LTU', 'LUX', 'MEX', 'MDA', 'MNE', 'NLD', 'MKD', 'NOR', 'POL', 'PRT', 'ROU', 'RUS', 'SRB', 'SGP', 'SVK', 'SVN', 'ZAF', 'ESP', 'SWE', 'CHE', 'TUR', 'TUR', 'UKR', 'GBR', 'USA']

In [8]:
df = wb.data.DataFrame(indexes, iso_code, time=range(1994, 2022))

In [9]:
df

                                 YR1994        YR1995        YR1996  \
economy series
ALB     EG.FEC.RNEW.ZS     5.145954e+01  5.060971e+01  5.163636e+01
        EN.ATM.CO2E.KT     2.070000e+03  1.930000e+03  1.940000e+03
        GB.XPD.RSDV.GD.ZS           NaN           NaN           NaN
        GC.NFN.TOTL.GD.ZS           NaN  4.887664e+00  3.813211e+00
        NE.EXP.GNFS.ZS     1.198369e+01  1.264083e+01  1.162033e+01
...                                 ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  4.193765e+11  4.323771e+11  4.509694e+11
        SP.POP.TOTL        4.056406e+07  4.143576e+07  4.224101e+07
        SP.URB.TOTL.IN.ZS  5.400400e+01  5.448600e+01  5.496700e+01
        TX.MNF.TECH.ZS.UN  2.906245e+01  3.215583e+01  3.112006e+01
        TX.VAL.TECH.MF.ZS           NaN           NaN           NaN

                                 YR1997        YR1998        YR1999  \
economy series
ALB     EG.FEC.RNEW.ZS     5.595335e+01  4.998337e+01  4.271831e+01
        EN.ATM.CO2E.KT     1.470000e+03  1.790000e+03  2.970000e+03
        GB.XPD.RSDV.GD.ZS           NaN           NaN           NaN
        GC.NFN.TOTL.GD.ZS  3.802858e+00  5.619572e+00           NaN
        NE.EXP.GNFS.ZS     1.019713e+01  1.146717e+01  1.684176e+01
...                                 ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  4.626946e+11  4.650080e+11  4.761682e+11
        SP.POP.TOTL        4.298746e+07  4.368226e+07  4.433855e+07
        SP.URB.TOTL.IN.ZS  5.544900e+01  5.593000e+01  5.641100e+01
        TX.MNF.TECH.ZS.UN  3.071798e+01  3.559528e+01  4.100814e+01
        TX.VAL.TECH.MF.ZS           NaN           NaN           NaN

                                 YR2000        YR2001        YR2002  \
economy series
ALB     EG.FEC.RNEW.ZS     4.136000e+01  3.904000e+01  3.582000e+01
        EN.ATM.CO2E.KT     3.170000e+03  3.230000e+03  3.760000e+03
        GB.XPD.RSDV.GD.ZS           NaN           NaN           NaN
        GC.NFN.TOTL.GD.ZS           NaN           NaN  6.635602e+00
        NE.EXP.GNFS.ZS     2.011529e+01  2.133341e+01  2.094562e+01
...                                 ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  4.961673e+11  5.095638e+11  5.284196e+11
        SP.POP.TOTL        4.496771e+07  4.557127e+07  4.615091e+07
        SP.URB.TOTL.IN.ZS  5.689100e+01  5.736800e+01  5.789800e+01
        TX.MNF.TECH.ZS.UN  3.998243e+01  4.278996e+01  4.466840e+01
        TX.VAL.TECH.MF.ZS           NaN           NaN           NaN

                                 YR2003  ...        YR2012        YR2013  \
economy series                           ...
ALB     EG.FEC.RNEW.ZS     3.367000e+01  ...  3.991000e+01  4.114000e+01
        EN.ATM.CO2E.KT     4.070000e+03  ...  4.360000e+03  4.440000e+03
        GB.XPD.RSDV.GD.ZS           NaN  ...           NaN           NaN
        GC.NFN.TOTL.GD.ZS  4.635095e+00  ...  4.395390e+00  3.912927e+00
        NE.EXP.GNFS.ZS     2.084739e+01  ...  2.893749e+01  2.891632e+01
...                                 ...  ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  5.440031e+11  ...  7.368543e+11  7.551686e+11
        SP.POP.TOTL        4.671920e+07  ...  5.283266e+07  5.368712e+07
        SP.URB.TOTL.IN.ZS  5.844600e+01  ...  6.327200e+01  6.379300e+01
        TX.MNF.TECH.ZS.UN  4.589784e+01  ...  4.467718e+01  4.362024e+01
        TX.VAL.TECH.MF.ZS           NaN  ...  6.682810e+00  6.521141e+00

                                 YR2014        YR2015        YR2016  \
economy series
ALB     EG.FEC.RNEW.ZS     3.856000e+01  3.847000e+01  3.943000e+01
        EN.ATM.CO2E.KT     4.820000e+03  4.620000e+03  4.480000e+03
        GB.XPD.RSDV.GD.ZS           NaN           NaN           NaN
        GC.NFN.TOTL.GD.ZS  4.034151e+00  4.109379e+00  3.877773e+00
        NE.EXP.GNFS.ZS     2.821300e+01  2.726739e+01  2.897790e+01
...                                 ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  7.658454e+11  7.759688e+11  7.811255e+11
        SP.POP.TOTL        5.454418e+07  5.538637e+07  5.620765e+07
        SP.URB.TOTL.IN.ZS  6.431200e+01  6.482800e+01  6.534100e+01
        TX.MNF.TECH.ZS.UN  4.608570e+01  4.992887e+01  5.056453e+01
        TX.VAL.TECH.MF.ZS  6.659056e+00  7.405394e+00  6.655423e+00

                                 YR2017        YR2018        YR2019  \
economy series
ALB     EG.FEC.RNEW.ZS     3.707000e+01  3.811000e+01  4.020000e+01
        EN.ATM.CO2E.KT     5.140000e+03  5.110000e+03  4.830000e+03
        GB.XPD.RSDV.GD.ZS           NaN           NaN           NaN
        GC.NFN.TOTL.GD.ZS           NaN           NaN           NaN
        NE.EXP.GNFS.ZS     3.156981e+01  3.157193e+01  3.130427e+01
...                                 ...           ...           ...
ZAF     NY.GDP.MKTP.PP.KD  7.901706e+11  8.019253e+11  8.028319e+11
        SP.POP.TOTL        5.700975e+07  5.779252e+07  5.855827e+07
        SP.URB.TOTL.IN.ZS  6.585000e+01  6.635500e+01  6.685600e+01
        TX.MNF.TECH.ZS.UN  4.687256e+01  4.602459e+01  4.599375e+01
        TX.VAL.TECH.MF.ZS  5.678182e+00  5.271878e+00  4.894244e+00

                                 YR2020        YR2021
economy series
ALB     EG.FEC.RNEW.ZS              NaN           NaN
        EN.ATM.CO2E.KT              NaN           NaN
        GB.XPD.RSDV.GD.ZS           NaN           NaN
        GC.NFN.TOTL.GD.ZS           NaN           NaN
        NE.EXP.GNFS.ZS     2.270398e+01  3.061618e+01
...                                 ...           ...
ZAF     NY.GDP.MKTP.PP.KD  7.511939e+11  7.881121e+11
        SP.POP.TOTL        5.930869e+07  6.004200e+07
        SP.URB.TOTL.IN.ZS  6.735400e+01  6.784700e+01
        TX.MNF.TECH.ZS.UN           NaN           NaN
        TX.VAL.TECH.MF.ZS  5.620868e+00           NaN

[741 rows x 28 columns]

In [10]:
# import pandas as pd
# pd.pivot_table(df, index=['economy']+['YR'+str(i) for i in range(1994, 2022, 1)], columns=df.reset_index()['series'])

In [11]:
df = wb.data.DataFrame(indexes, iso_code, time=range(1994, 2022), index=['economy', 'time'])

In [12]:
df

                EG.FEC.RNEW.ZS  EN.ATM.CO2E.KT  GB.XPD.RSDV.GD.ZS  \
economy time
ALB     YR1994       51.459544     2070.000000                NaN
        YR1995       50.609710     1930.000000                NaN
        YR1996       51.636361     1940.000000                NaN
        YR1997       55.953349     1470.000000                NaN
        YR1998       49.983365     1790.000000                NaN
...                        ...             ...                ...
ZAF     YR2017       10.450000   435649.993896            0.76257
        YR2018       10.190000   434350.006104            0.68657
        YR2019       10.500000   439640.014648            0.61525
        YR2020             NaN             NaN                NaN
        YR2021             NaN             NaN                NaN

                GC.NFN.TOTL.GD.ZS  NE.EXP.GNFS.ZS  NE.TRD.GNFS.ZS  \
economy time
ALB     YR1994                NaN       11.983694       53.102585
        YR1995           4.887664       12.640829       47.610595
        YR1996           3.813211       11.620333       44.895445
        YR1997           3.802858       10.197127       45.425556
        YR1998           5.619572       11.467166       48.137535
...                           ...             ...             ...
ZAF     YR2017                NaN       27.340076       53.535932
        YR2018                NaN       27.488588       54.507584
        YR2019                NaN       27.342180       54.150246
        YR2020                NaN       27.778011       51.126846
        YR2021                NaN       31.107735       56.071227

                NV.IND.TOTL.ZS  NV.MNF.TECH.ZS.UN  NY.GDP.MKTP.PP.KD  \
economy time
ALB     YR1994             NaN           5.902944       1.257874e+10
        YR1995             NaN           8.072769       1.425452e+10
        YR1996       17.373841           1.843789       1.555168e+10
        YR1997       18.109766           2.013606       1.385344e+10
        YR1998       15.346838           5.119037       1.507662e+10
...                        ...                ...                ...
ZAF     YR2017       23.610556          24.428034       7.901706e+11
        YR2018       23.506994          24.428034       8.019253e+11
        YR2019       23.577855          24.428034       8.028319e+11
        YR2020       23.422275                NaN       7.511939e+11
        YR2021       24.463422                NaN       7.881121e+11

                SP.POP.TOTL  SP.URB.TOTL.IN.ZS  TX.MNF.TECH.ZS.UN  \
economy time
ALB     YR1994    3207536.0             38.354          10.025371
        YR1995    3187784.0             38.911          10.025371
        YR1996    3168033.0             39.473          10.025371
        YR1997    3148281.0             40.035          12.931490
        YR1998    3128530.0             40.601           4.986206
...                     ...                ...                ...
ZAF     YR2017   57009751.0             65.850          46.872564
        YR2018   57792520.0             66.355          46.024593
        YR2019   58558267.0             66.856          45.993754
        YR2020   59308690.0             67.354                NaN
        YR2021   60041996.0             67.847                NaN

                TX.VAL.TECH.MF.ZS
economy time
ALB     YR1994                NaN
        YR1995                NaN
        YR1996                NaN
        YR1997                NaN
        YR1998                NaN
...                           ...
ZAF     YR2017           5.678182
        YR2018           5.271878
        YR2019           4.894244
        YR2020           5.620868
        YR2021                NaN

[1596 rows x 13 columns]

In [13]:
df.loc['USA']

,EG.FEC.RNEW.ZS,EN.ATM.CO2E.KT,GB.XPD.RSDV.GD.ZS,GC.NFN.TOTL.GD.ZS,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NV.MNF.TECH.ZS.UN,NY.GDP.MKTP.PP.KD,SP.POP.TOTL,SP.URB.TOTL.IN.ZS,TX.MNF.TECH.ZS.UN,TX.VAL.TECH.MF.ZS
time,,,,,,,,,,,,,
YR1994,4.088641,5.066810e+06,NaN,0.316855,9.893147,21.055459,NaN,49.175167,1.116140e+13,263126000.0,76.875,73.301032,NaN
YR1995,4.726554,5.117040e+06,NaN,0.226185,10.639224,22.453382,NaN,49.222431,1.146100e+13,266278000.0,77.257,72.415831,NaN
YR1996,4.763930,5.273490e+06,2.45001,0.327630,10.746636,22.687072,NaN,49.222255,1.189337e+13,269394000.0,77.636,73.614140,NaN
YR1997,4.514260,5.543350e+06,2.47983,0.257299,11.119755,23.428321,23.132101,51.705667,1.242229e+13,272657000.0,78.008,74.634452,NaN
YR1998,4.534297,5.590540e+06,2.50401,0.306748,10.515261,22.825891,22.670558,51.786039,1.297898e+13,275854000.0,78.377,75.750540,NaN
YR1999,5.709727,5.609020e+06,2.54965,0.390918,10.309335,23.313564,22.558598,51.574936,1.360126e+13,279040000.0,78.742,76.061442,NaN
YR2000,5.430000,5.775810e+06,2.62879,0.416059,10.692777,25.102995,22.451586,51.013167,1.415580e+13,282162411.0,79.057,75.517416,NaN
YR2001,4.680000,5.748260e+06,2.64830,1.483869,9.703447,22.967181,21.469004,49.570089,1.429090e+13,284968955.0,79.234,75.384311,NaN
YR2002,4.840000,5.593030e+06,2.55926,1.600679,9.131382,22.286374,20.652466,50.384900,1.453326e+13,287625193.0,79.409,74.978021,NaN
YR2003,5.330000,5.658990e+06,2.56455,1.658202,9.035659,22.627313,20.739477,50.412838,1.493964e+13,290107933.0,79.583,74.202088,NaN
YR2004,5.480000,5.738290e+06,2.50243,1.668869,9.628750,24.448062,20.950037,50.393862,1.551520e+13,292805298.0,79.757,71.627758,NaN
YR2005,5.840000,5.753490e+06,2.51697,1.638076,9.982055,25.638553,21.206270,49.310624,1.605563e+13,295516599.0,79.928,70.394972,NaN
YR2006,6.400000,5.653080e+06,2.55764,1.566861,10.641386,26.975278,21.586962,49.465739,1.650243e+13,298379912.0,80.099,72.228664,NaN
YR2007,6.300000,5.736320e+06,2.63161,1.664704,11.463790,28.012018,21.423882,50.610127,1.683421e+13,301231207.0,80.269,71.589353,29.879568
YR2008,6.850000,5.558380e+06,2.76791,1.677315,12.425847,29.867796,20.793507,51.327679,1.685478e+13,304093966.0,80.438,68.961134,28.404430
YR2009,7.350000,5.156430e+06,2.81270,1.853065,10.932221,24.759531,19.268477,47.427710,1.641657e+13,306771529.0,80.606,66.423041,24.347462
YR2010,7.440000,5.392110e+06,2.73540,1.930226,12.341361,28.219895,19.310257,48.071549,1.686127e+13,309327143.0,80.772,64.745448,22.606668
YR2011,8.360000,5.173600e+06,2.76525,1.824564,13.563467,30.842486,19.407502,47.593909,1.712261e+13,311583481.0,80.944,62.197655,20.613035
YR2012,8.730000,4.956060e+06,2.68166,1.683189,13.644049,30.681835,19.162611,47.785824,1.751312e+13,313877662.0,81.119,62.533264,20.163297
YR2013,9.080000,5.092100e+06,2.71154,1.524984,13.578074,30.002367,19.241626,47.501411,1.783569e+13,316059947.0,81.299,61.741481,20.178305
YR2014,9.220000,5.107210e+06,2.72151,1.430463,13.545959,29.998000,19.331515,48.704417,1.824373e+13,318386329.0,81.483,62.357070,20.467144
YR2015,9.030000,4.990710e+06,2.78206,1.228720,12.460993,27.812234,18.587132,48.323931,1.873747e+13,320738994.0,81.671,65.287447,21.380941
YR2016,9.460000,4.894500e+06,2.84585,1.329594,11.939539,26.586999,18.042221,47.948956,1.904991e+13,323071755.0,81.862,65.743731,22.411343
YR2017,9.920000,4.819370e+06,2.89572,NaN,12.237189,27.246163,18.436601,48.313753,1.947962e+13,325122128.0,82.058,63.566407,19.258818
YR2018,10.120000,4.975310e+06,3.00082,NaN,12.342241,27.588858,18.616777,47.833288,2.004820e+13,326838199.0,82.256,62.307350,18.474054
YR2019,10.420000,4.817720e+06,3.16609,NaN,11.789535,26.368922,18.295603,47.054393,2.050708e+13,328329953.0,82.459,63.602104,18.672652
YR2020,NaN,NaN,3.45018,NaN,10.162899,23.442457,18.438755,NaN,1.980890e+13,331501080.0,82.664,NaN,19.483849
YR2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.093228e+13,331893745.0,82.873,NaN,NaN

In [14]:
df = df.reset_index()
df[df['time'] == 'YR2020']

,economy,time,EG.FEC.RNEW.ZS,EN.ATM.CO2E.KT,GB.XPD.RSDV.GD.ZS,GC.NFN.TOTL.GD.ZS,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NV.MNF.TECH.ZS.UN,NY.GDP.MKTP.PP.KD,SP.POP.TOTL,SP.URB.TOTL.IN.ZS,TX.MNF.TECH.ZS.UN,TX.VAL.TECH.MF.ZS
26,ALB,YR2020,NaN,NaN,NaN,NaN,22.703982,59.951749,20.008609,NaN,3.761209e+10,2.837849e+06,62.112,NaN,0.379297
54,ARG,YR2020,NaN,NaN,NaN,NaN,16.591817,30.148142,23.311218,NaN,8.934985e+11,4.537676e+07,92.111,NaN,6.903889
82,ARM,YR2020,NaN,NaN,0.20921,NaN,29.763678,69.490997,27.055226,NaN,3.739569e+10,2.963234e+06,63.313,NaN,7.000017
110,AUS,YR2020,NaN,NaN,NaN,NaN,23.983854,44.039526,25.462096,NaN,1.250714e+12,2.569327e+07,86.241,NaN,21.487221
138,AUT,YR2020,NaN,NaN,3.20128,NaN,51.435008,99.998943,25.457853,NaN,4.624080e+11,8.916864e+06,58.748,NaN,12.264313
166,AZE,YR2020,NaN,NaN,0.22435,NaN,35.623556,72.017868,41.956320,NaN,1.385459e+11,1.009312e+07,56.397,NaN,7.067279
194,BEL,YR2020,NaN,NaN,3.47720,NaN,80.042038,158.677451,19.479300,NaN,5.628106e+11,1.154424e+07,98.079,NaN,15.248694
222,BGR,YR2020,NaN,NaN,0.85351,NaN,55.323289,109.177528,21.923347,NaN,1.551770e+11,6.934015e+06,75.686,NaN,11.295053
250,BIH,YR2020,NaN,NaN,0.20614,NaN,34.524563,83.005874,24.554311,NaN,4.764041e+10,3.280815e+06,49.020,NaN,4.614452
278,BLR,YR2020,NaN,NaN,0.54897,NaN,61.012149,118.933884,30.828675,NaN,1.799710e+11,9.379952e+06,79.483,NaN,4.767918
306,CAN,YR2020,NaN,NaN,1.69781,NaN,29.363448,60.782530,NaN,NaN,1.752155e+12,3.803720e+07,81.562,NaN,15.302196
334,CHE,YR2020,NaN,NaN,NaN,NaN,62.342019,115.889400,25.245670,NaN,5.938105e+11,8.636561e+06,73.915,NaN,12.844055
362,CHL,YR2020,NaN,NaN,NaN,NaN,31.533534,58.504160,29.960419,NaN,4.442487e+11,1.911621e+07,87.727,NaN,15.801807
390,CHN,YR2020,NaN,NaN,2.40093,NaN,18.541060,34.589250,37.842787,NaN,2.299638e+13,1.411100e+09,61.428,NaN,31.284826
418,CYP,YR2020,NaN,NaN,0.82234,NaN,75.780512,154.085350,12.606087,NaN,3.479508e+10,1.207361e+06,66.821,NaN,12.244828
446,CZE,YR2020,NaN,NaN,1.99104,NaN,70.991996,135.152282,30.758587,NaN,4.119881e+11,1.069786e+07,74.061,NaN,22.579325
474,DEU,YR2020,NaN,NaN,3.14426,NaN,43.416895,81.108547,26.531732,NaN,4.276401e+12,8.316087e+07,77.453,NaN,15.499632
502,DNK,YR2020,NaN,NaN,2.96154,NaN,54.881541,103.312249,21.167106,NaN,3.255084e+11,5.831404e+06,88.116,NaN,13.171416
530,ESP,YR2020,NaN,NaN,1.40541,NaN,30.620938,59.768724,20.370374,NaN,1.715071e+12,4.736342e+07,80.810,NaN,7.767937
558,EST,YR2020,NaN,NaN,1.79247,NaN,71.175819,141.869363,22.652102,NaN,4.687366e+10,1.329479e+06,69.229,NaN,20.409621
586,FIN,YR2020,NaN,NaN,2.93544,NaN,35.758734,71.279229,24.033278,NaN,2.620861e+11,5.529543e+06,85.517,NaN,9.982255
614,FRA,YR2020,NaN,NaN,2.35493,NaN,27.873644,57.767428,16.445029,NaN,2.851553e+12,6.737991e+07,80.975,NaN,23.144384
642,GBR,YR2020,NaN,NaN,NaN,NaN,28.362276,56.428977,17.107108,NaN,2.872446e+12,6.708100e+07,83.903,NaN,22.997163
670,GEO,YR2020,NaN,NaN,0.30080,NaN,37.291495,93.875798,21.177560,NaN,5.199267e+10,3.722716e+06,59.453,NaN,2.249748
698,GRC,YR2020,NaN,NaN,1.49610,NaN,31.984002,71.582921,14.997499,NaN,2.896921e+11,1.070056e+07,79.715,NaN,13.248977
726,HRV,YR2020,NaN,NaN,1.24844,NaN,42.024894,90.807715,21.155324,NaN,1.095989e+11,4.047680e+06,57.553,NaN,9.680037
754,HUN,YR2020,NaN,NaN,1.60766,NaN,79.008742,155.937689,24.627557,NaN,3.038898e+11,9.750149e+06,71.942,NaN,17.425738
782,IND,YR2020,NaN,NaN,NaN,NaN,18.708899,37.805354,24.531066,NaN,8.537555e+12,1.380004e+09,34.926,NaN,11.032257
810,IRL,YR2020,NaN,NaN,1.23233,NaN,131.112560,239.951029,37.953622,NaN,4.526455e+11,4.985674e+06,63.653,NaN,25.663941
838,ISL,YR2020,NaN,NaN,2.47176,NaN,34.213476,69.179134,19.676025,NaN,1.919375e+10,3.664630e+05,93.898,NaN,27.957313
866,ISR,YR2020,NaN,NaN,5.43562,NaN,28.031635,51.414624,18.587377,NaN,3.599088e+11,9.215100e+06,92.587,NaN,28.196936
894,ITA,YR2020,NaN,NaN,1.53391,NaN,29.532511,55.402642,21.606753,NaN,2.322754e+12,5.944953e+07,71.039,NaN,9.047787
922,JPN,YR2020,NaN,NaN,3.26317,NaN,15.558554,31.358712,29.016842,NaN,5.042292e+12,1.262610e+08,91.782,NaN,18.601034
950,KAZ,YR2020,NaN,NaN,0.12602,NaN,30.225988,56.219523,33.097797,NaN,4.756720e+11,1.875567e+07,57.671,NaN,32.963095
978,KOR,YR2020,NaN,NaN,4.81450,NaN,36.445859,69.215521,32.582630,NaN,2.194532e+12,5.183624e+07,81.414,NaN,35.708519
1006,LTU,YR2020,NaN,NaN,1.15528,NaN,73.501436,137.717177,24.978363,NaN,1.037100e+11,2.794885e+06,68.046,NaN,12.008765
1034,LUX,YR2020,NaN,NaN,1.12860,NaN,204.690741,376.295035,11.175970,NaN,7.095827e+10,6.304190e+05,91.453,NaN,5.621123
1062,LVA,YR2020,NaN,NaN,0.70550,NaN,60.438155,119.701664,19.375057,NaN,5.711469e+10,1.900449e+06,68.315,NaN,20.035906
1090,MDA,YR2020,NaN,NaN,0.22754,NaN,27.140003,77.065457,22.822233,NaN,3.215327e+10,2.620495e+06,42.849,NaN,2.239086
1118,MEX,YR2020,NaN,NaN,0.30096,NaN,39.603047,77.158772,29.620623,NaN,2.305096e+12,1.289328e+08,80.731,NaN,21.505249
1146,MKD,YR2020,NaN,NaN,0.37560,NaN,58.947206,130.851111,22.764437,NaN,3.270390e+10,2.072531e+06,58.482,NaN,4.181045
1174,MNE,YR2020,NaN,NaN,NaN,NaN,25.996686,87.006022,17.294681,NaN,1.134439e+10,6.213060e+05,67.488,NaN,7.573026
1202,NLD,YR2020,NaN,NaN,2.29423,NaN,77.856630,145.304620,17.773889,NaN,9.474988e+11,1.744150e+07,92.236,NaN,23.140196
1230,NOR,YR2020,NaN,NaN,2.27601,NaN,32.245259,65.330479,26.033816,NaN,3.418549e+11,5.379475e+06,82.974,NaN,22.245963
1258,POL,YR2020,NaN,NaN,1.39205,NaN,56.184326,105.575470,27.682391,NaN,1.227881e+12,3.789907e+07,60.043,NaN,9.864167
1286,PRT,YR2020,NaN,NaN,1.61740,NaN,37.032219,76.176673,19.359304,NaN,3.291130e+11,1.029708e+07,66.310,NaN,7.114189
1314,ROU,YR2020,NaN,NaN,0.47033,NaN,37.150090,78.638103,26.890422,NaN,5.570390e+11,1.925752e+07,54.194,NaN,11.937033
1342,RUS,YR2020,NaN,NaN,1.09803,NaN,25.531215,45.961946,29.827064,NaN,3.892676e+12,1.440731e+08,74.754,NaN,9.204037
1370,SGP,YR2020,NaN,NaN,NaN,NaN,181.716809,331.727934,23.648523,NaN,5.373408e+11,5.685807e+06,100.000,NaN,55.452061
1398,SRB,YR2020,NaN,NaN,0.90595,NaN,48.238380,104.761025,24.889481,NaN,1.259439e+11,6.899126e+06,56.446,NaN,NaN
1426,SVK,YR2020,NaN,NaN,0.91109,NaN,85.436775,169.947174,27.364071,NaN,1.665476e+11,5.458827e+06,53.760,NaN,9.997316
1454,SVN,YR2020,NaN,NaN,2.14735,NaN,77.883011,146.540911,29.362777,NaN,7.789578e+10,2.102419e+06,55.118,NaN,7.798323
1482,SWE,YR2020,NaN,NaN,3.52722,NaN,44.579653,84.523939,21.116668,NaN,5.272509e+11,1.035344e+07,87.977,NaN,15.130670
1510,TUR,YR2020,NaN,NaN,1.08893,NaN,28.664856,61.140604,28.018768,NaN,2.394678e+12,8.433907e+07,76.105,NaN,3.152724
1538,UKR,YR2020,NaN,NaN,0.40608,NaN,38.821646,79.156452,20.799943,NaN,5.179680e+11,4.413205e+07,69.608,NaN,5.852350
1566,USA,YR2020,NaN,NaN,3.45018,NaN,10.162899,23.442457,18.438755,NaN,1.980890e+13,3.315011e+08,82.664,NaN,19.483849
1594,ZAF,YR2020,NaN,NaN,NaN,NaN,27.778011,51.126846,23.422275,NaN,7.511939e+11,5.930869e+07,67.354,NaN,5.620868

In [15]:
df

,economy,time,EG.FEC.RNEW.ZS,EN.ATM.CO2E.KT,GB.XPD.RSDV.GD.ZS,GC.NFN.TOTL.GD.ZS,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NV.MNF.TECH.ZS.UN,NY.GDP.MKTP.PP.KD,SP.POP.TOTL,SP.URB.TOTL.IN.ZS,TX.MNF.TECH.ZS.UN,TX.VAL.TECH.MF.ZS
0,ALB,YR1994,51.459544,2070.000000,NaN,NaN,11.983694,53.102585,NaN,5.902944,1.257874e+10,3207536.0,38.354,10.025371,NaN
1,ALB,YR1995,50.609710,1930.000000,NaN,4.887664,12.640829,47.610595,NaN,8.072769,1.425452e+10,3187784.0,38.911,10.025371,NaN
2,ALB,YR1996,51.636361,1940.000000,NaN,3.813211,11.620333,44.895445,17.373841,1.843789,1.555168e+10,3168033.0,39.473,10.025371,NaN
3,ALB,YR1997,55.953349,1470.000000,NaN,3.802858,10.197127,45.425556,18.109766,2.013606,1.385344e+10,3148281.0,40.035,12.931490,NaN
4,ALB,YR1998,49.983365,1790.000000,NaN,5.619572,11.467166,48.137535,15.346838,5.119037,1.507662e+10,3128530.0,40.601,4.986206,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,ZAF,YR2017,10.450000,435649.993896,0.76257,NaN,27.340076,53.535932,23.610556,24.428034,7.901706e+11,57009751.0,65.850,46.872564,5.678182
1592,ZAF,YR2018,10.190000,434350.006104,0.68657,NaN,27.488588,54.507584,23.506994,24.428034,8.019253e+11,57792520.0,66.355,46.024593,5.271878
1593,ZAF,YR2019,10.500000,439640.014648,0.61525,NaN,27.342180,54.150246,23.577855,24.428034,8.028319e+11,58558267.0,66.856,45.993754,4.894244
1594,ZAF,YR2020,NaN,NaN,NaN,NaN,27.778011,51.126846,23.422275,NaN,7.511939e+11,59308690.0,67.354,NaN,5.620868
1595,ZAF,YR2021,NaN,NaN,NaN,NaN,31.107735,56.071227,24.463422,NaN,7.881121e+11,60041996.0,67.847,NaN,NaN

In [16]:
# df.loc[:, 'NY.GDP.MKTP.PP.KD']
df_NY = df.filter(items=['economy', 'series', 'time', 'NY.GDP.MKTP.PP.KD'], axis=1)
df_NY

     economy    time  NY.GDP.MKTP.PP.KD
0        ALB  YR1994       1.257874e+10
1        ALB  YR1995       1.425452e+10
2        ALB  YR1996       1.555168e+10
3        ALB  YR1997       1.385344e+10
4        ALB  YR1998       1.507662e+10
...      ...     ...                ...
1591     ZAF  YR2017       7.901706e+11
1592     ZAF  YR2018       8.019253e+11
1593     ZAF  YR2019       8.028319e+11
1594     ZAF  YR2020       7.511939e+11
1595     ZAF  YR2021       7.881121e+11

[1596 rows x 3 columns]

In [17]:
df_NY.loc[df['time'].isin([f"YR{i}" for i in range(1994, 2001)])]

     economy    time  NY.GDP.MKTP.PP.KD
0        ALB  YR1994       1.257874e+10
1        ALB  YR1995       1.425452e+10
2        ALB  YR1996       1.555168e+10
3        ALB  YR1997       1.385344e+10
4        ALB  YR1998       1.507662e+10
...      ...     ...                ...
1570     ZAF  YR1996       4.509694e+11
1571     ZAF  YR1997       4.626946e+11
1572     ZAF  YR1998       4.650080e+11
1573     ZAF  YR1999       4.761682e+11
1574     ZAF  YR2000       4.961673e+11

[399 rows x 3 columns]

In [19]:
df.to_csv("df_mi.csv", index=False)