In [1]:
!pip install wbgapi

Requirement already satisfied: wbgapi in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (1.0.12)
Requirement already satisfied: requests in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (2.27.1)
Requirement already satisfied: tabulate in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (0.8.9)
Requirement already satisfied: PyYAML in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from wbgapi) (6.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/sanchitvj/opt/anaconda3/lib/python3.9/site-packages (from requests->wbgapi) (3.3)

In [2]:
import wbgapi as wb
# wb.source.info()

In [3]:
df = wb.data.DataFrame(['EN.ATM.CO2E.KT', 'NY.GDP.MKTP.PP.KD'], economy=wb.region.members('EUU'), time=range(1994, 2022))

In [4]:
df.head()

                                 YR1994        YR1995        YR1996  \
economy series
AUT     EN.ATM.CO2E.KT     5.828000e+04  6.118000e+04  6.490000e+04
        NY.GDP.MKTP.PP.KD  3.129625e+11  3.213123e+11  3.288616e+11
BEL     EN.ATM.CO2E.KT     1.149000e+05  1.145700e+05  1.194500e+05
        NY.GDP.MKTP.PP.KD  3.740897e+11  3.830108e+11  3.880721e+11
BGR     EN.ATM.CO2E.KT     5.372000e+04  5.488000e+04  5.530000e+04

                                 YR1997        YR1998        YR1999  \
economy series
AUT     EN.ATM.CO2E.KT     6.422000e+04  6.467000e+04  6.305000e+04
        NY.GDP.MKTP.PP.KD  3.357467e+11  3.477712e+11  3.601391e+11
BEL     EN.ATM.CO2E.KT     1.166300e+05  1.194100e+05  1.155100e+05
        NY.GDP.MKTP.PP.KD  4.027942e+11  4.106963e+11  4.252462e+11
BGR     EN.ATM.CO2E.KT     5.299000e+04  5.048000e+04  4.432000e+04

                                 YR2000        YR2001        YR2002  \
economy series
AUT     EN.ATM.CO2E.KT     6.353000e+04  6.791000e+04  6.937000e+04
        NY.GDP.MKTP.PP.KD  3.722964e+11  3.770140e+11  3.832406e+11
BEL     EN.ATM.CO2E.KT     1.172700e+05  1.183400e+05  1.108500e+05
        NY.GDP.MKTP.PP.KD  4.410512e+11  4.459011e+11  4.535121e+11
BGR     EN.ATM.CO2E.KT     4.342000e+04  4.619000e+04  4.360000e+04

                                 YR2003  ...        YR2012        YR2013  \
economy series                           ...
AUT     EN.ATM.CO2E.KT     7.446000e+04  ...  6.511000e+04  6.575000e+04
        NY.GDP.MKTP.PP.KD  3.868487e+11  ...  4.492970e+11  4.494116e+11
BEL     EN.ATM.CO2E.KT     1.155000e+05  ...  9.527000e+04  9.659000e+04
        NY.GDP.MKTP.PP.KD  4.582195e+11  ...  5.354755e+11  5.379346e+11
BGR     EN.ATM.CO2E.KT     4.793000e+04  ...  4.502000e+04  3.966000e+04

                                 YR2014        YR2015        YR2016  \
economy series
AUT     EN.ATM.CO2E.KT     6.205000e+04  6.324000e+04  6.368000e+04
        NY.GDP.MKTP.PP.KD  4.523834e+11  4.569728e+11  4.660640e+11
BEL     EN.ATM.CO2E.KT     9.014000e+04  9.513000e+04  9.422000e+04
        NY.GDP.MKTP.PP.KD  5.464261e+11  5.575811e+11  5.646439e+11
BGR     EN.ATM.CO2E.KT     4.205000e+04  4.456000e+04  4.159000e+04

                                 YR2017        YR2018        YR2019  \
economy series
AUT     EN.ATM.CO2E.KT     6.586000e+04  6.306000e+04  6.477000e+04
        NY.GDP.MKTP.PP.KD  4.765904e+11  4.885128e+11  4.957975e+11
BEL     EN.ATM.CO2E.KT     9.272000e+04  9.366000e+04  9.301000e+04
        NY.GDP.MKTP.PP.KD  5.737888e+11  5.843689e+11  5.967080e+11
BGR     EN.ATM.CO2E.KT     4.388000e+04  4.090000e+04  3.914000e+04

                                 YR2020        YR2021
economy series
AUT     EN.ATM.CO2E.KT              NaN           NaN
        NY.GDP.MKTP.PP.KD  4.624080e+11  4.831422e+11
BEL     EN.ATM.CO2E.KT              NaN           NaN
        NY.GDP.MKTP.PP.KD  5.628106e+11  5.979566e+11
BGR     EN.ATM.CO2E.KT              NaN           NaN

[5 rows x 28 columns]

In [18]:
df.to_csv("gdp_co2_eu.csv")